<div mat-dialog-content class="mat-typography">
  <p>Do you want to delete <strong>{{ data.title }}</strong>?</p>
  <div>
    <label><b>Tên sách: </b></label> {{data.title}}
  </div>
  <div>
    <label><b>Tác giả: </b></label> {{data.author}}
  </div>
  <div>
    <label><b>Mô tả: </b></label> {{ data.description.substring(0, 100)}}...
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Ok</button>
</div>
